body {
    font-family: STKaiti, DFKai-SB, Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Droid Sans", "Microsoft JhengHei", "Helvetica Neue", sans-serif;
    /*
    font-family:
        STKaiti, DFKai-SB, Arial, // 建議字體 中文：楷體，標楷體 英文：Arial
        -apple-system, BlinkMacSystemFont,  // 系統預設字體
        "Segoe UI", "Roboto", "Ubuntu", "Droid Sans", "Microsoft JhengHei", // 指定已知的系統UI字體
        "Helvetica Neue", sans-serif; //備援字體
    */
}
section #quote {
    padding-left: 10px;
}
#app #color-highlight {
    color: #0000CC;
}
#app footer {
}
article {
    padding-top: 0;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    margin-top: 0;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 2px;
}
#main_heading {
    padding-top: 0;
    padding-right: 0px;
    padding-left: 5px;
    padding-bottom: 0px;
}
footer {
    margin-top: 10px;
}
.row #Header1 {
    padding-left: 10px;
}
section p #FloatL {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width:543px) {
    h1, h2 {font-size:1.0rem;}
    h3, h4 {font-size:1.0rem;}
    h5, h6 {font-size:1.0rem;}
}
@media (min-width:544px) {
    h1, h2 {font-size:1.0rem;}
    h3, h4 {font-size:1.0rem;}
    h5, h6 {font-size:1.0rem;}
}
@media (min-width:768px) {
    h1, h2 {font-size:1.2rem;}
    h3, h4 {font-size:1.0rem;}
    h5, h6 {font-size:1.0rem;}
}
@media (min-width:992px) {
    h1, h2 {font-size:1.6rem;}
    h3, h4 {font-size:1.4rem;}
    h5, h6 {font-size:1.2rem;}
}
@media (min-width:1200px) {
    h1, h2 {font-size:1.6rem;}
    h3, h4 {font-size:1.4rem;}
    h5, h6 {font-size:1.2rem;}
}

.navbar{
    background-color:#000066 !important;
}
.navbar .navbar-toggler {
    background-color: white !important;
}
.navbar .collapse .navbar-nav li a{
    color:white !important;
}
.navbar .collapse .navbar-nav li a:hover{
    color: #33FFCC !important;
    background-color:#0066FF;
}
.navbar .collapse .navbar-nav li .dropdown-menu .dropdown-item {
    color:#660033 !important;
}
.navbar .collapse .navbar-nav li .dropdown-menu .dropdown-item:hover {
    color:#CC0033 !important;
    background-color:#D0D0D0 !important;
}

.navbar .navbar-brand {
    color: yellow !important;
}

.page-footer{
    background-color: #0066FF !important;
}
#main_footer {
    padding: 0 5px 0 10px;
    background-color: #006;
}
#p-footer {
    color: #FFF;
}
#app footer {
    background-color: #006;
    color: #000;
}
#main_heading {
    padding-top: 0;
    padding-right: 0px;
    padding-left: 5px;
    padding-bottom: 0;
}
#app footer p {
    color: #FFF;
}

#title-1 {
    color: #0000CC;
    font-size:1.4em;
}
#title-2 {
    color: #0000CC;
    font-size:1.2em;
}
h1, h2 {
    color: #0000CC;
    font-size:1.6em;
}
h3, h4 {
    color: #0000CC;
    font-size:1.4em;
}
h5 {
    color:#0000CC;
    font-size:1.2em;
}
div.fixed {
    position: fixed;
    top: 40px;
    left: 100px;
    color: #000099;
    background: rgba(255, 255, 255, 0.7)
}
.btn-circle{
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.jumbotron-bg1 {
	background-image: url("../fig/EGB-011-Banner-11.jpeg");
	background-size: cover;
	background-position: center center;
	min-height: 300px
}
.jumbotron-bg2 {
	background-image: url("../fig/EGB-011-Banner-21.jpg");
	background-size: cover;
	background-position: center center;
	min-height: 300px
}
.jumbotron-bg3 {
	background-image: url("../fig/EGB-011-Banner-31.jpg");
	background-size: cover;
	background-position: center center;
	min-height: 300px
}
.jumbotron-bg4 {
	background-image: url("../fig/EGB-011-Banner-41.jpg");
	background-size: cover;
	background-position: center center;
	min-height: 300px
}

.bg-lighter {
		background-color: rgba(0,0,0,.4)
}
